<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      This is the development phase of a rails app that will allow users to register and
  store SVG (as XML) pictures and retrieve them as XML or have them displayed in a page.
    </p>
