<div class="center hero-unit">
    <h1>Welcome to SVG Store app v1.0.0</h1>
    <h2>
      This is the home page for the SVG store app.
    </h2>
    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://ianscottwilson.com/images/logoaspaths.svg", alt: "Rails"), 'http://ianscottwilson.com' %>