<footer class="footer">
  <small>
    <a href="http://ianscottwilson.com/">Where this is heading</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://ianscottwilson.com/blog">News</a></li>
    </ul>
  </nav>
</footer>